PORT=8000
DB_URL=example.com
NODE_ENV=production

# JWT Secret Key
JWT_ACCESS_SECRET=secretKey_is_very_secret
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_SECRET=secretKey_is_very_secret&refresh
JWT_REFRESH_EXPIRES_IN=30d

# Bcrypt Salt
BCRYPT_SALT_ROUND=10

# google
GOOGLE_CLIENT_SECRET=G0OGLE_CLIENT_SECRET
GOOGLE_CLIENT_ID=G0OGLE_CLIENT_ID
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback

# express session
EXPRESS_SESSION_SECRET=express-session_secret
